<%- include('./header.ejs') %>
<div id="wrapper">
    <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
        <%- include('./navbar.ejs') %>
        <%- body %>
    </header>
    <%- include('./navfoot.ejs') %>    
</div>
<%- include('./footer.ejs') %>
